menu.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DBECFF;
    display: flex;
    justify-content: center;
}
.nav_bar li {
    padding: 1em;
    text-align: center;
}
a.nav_link:link, a.nav_link:visited {
    color: #06274E;
    text-decoration: none;
}
a.nav_link:hover {
    font-weight: bold;
}
body {
    font-family: Verdana, sans-serif;
}
footer {
    font-size: .5em;
}
table.vers {
    border: 1px solid;
}
.vers th {
    text-align: left;
    padding-right: 1em;
    border-bottom: solid;
}
table.info {
    border: 1px solid;
}
.info td {
    text-align: left;
    padding-right: 1em;
}