menu.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DBECFF;
    display: flex;
    justify-content: center;
}
.nav_bar li {
    padding: 1em;
}
a.nav_link:link, a.nav_link:visited {
    color: #06274E;
    text-decoration: none;
}
body {
    font-family: Verdana, sans-serif;
}
footer {
    font-size: .5em;
}