menu.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DBECFF;
    display: flex;
    justify-content: center;
}
.nav_bar li {
    padding: 1em;
    text-align: center;
}
a.nav_link:link, a.nav_link:visited {
    color: #06274E;
    text-decoration: none;
}
a.nav_link:hover {
    font-weight: bold;
}
body {
    font-family: Verdana, sans-serif;
}
footer {
    font-size: .5em;
}
table.vers {
    border: 1px solid;
}
.vers th {
    text-align: left;
    padding-right: 1em;
    border-bottom: solid;
}
table.info {
    border: 1px solid;
}
table.info td {
    text-align: left;
    padding-right: 1em;
}
h2.title {
    font-family: Verdana, sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}
h5.title {
    padding-top: 0.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
div.grid_div {
    display: grid;
    grid-template-columns: 33% 67%;
    place-items: center;
}
div.grid_contents {
    padding: 1em;
}
div.grid_contents img {
    max-width: 100%;
    height: auto;
}