menu {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    background-color: #333333;
    display: flex;
    justify-content: center;
}
a.navigation:link {
    color: #ffffff;
}
a.navigation:visited {
    color: #ffffff;
}