

menu.nav_bar {
/*creates styles for menu bar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #DBECFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}
.nav_bar li {
    /*creates styles for items*/
    display: flex;
    flex-wrap: wrap;

    padding: .25em 0 .25em 0;
    text-align: center;
}
a.nav_link:link, a.nav_link:visited {
    /*creates styles for menu bar links*/
    color: #06274E;
    text-decoration: none;
}
a.nav_link:hover {
    /*creates styles for menu bar link hover effect*/
    font-weight: bold;
}
body {
    /*creates default style for body of all pages on site*/
    font-family: Verdana, sans-serif;
}
footer {
    /*creates default styles for footers on all pages on site*/
    font-size: .5em;
}
table.vers {
    /*creates styles for version table*/
    border: 1px solid;
}
.vers th {
    /*creates styles for version table headers*/
    text-align: left;
    padding-right: 1em;
    border-bottom: solid;
}
table.info {
    /*creates styles for about table */
    border: 1px solid;
}
table.info td {
    /*creates styles for about table details*/
    text-align: left;
    padding-right: 1em;
}
h2.title {
    /*creates styles for static site title*/
    font-family: Verdana, sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}
h5.title {
    /*creates styles for static site subtitle*/
    padding-top: 0.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
div.grid_div_txt {
    /*creates styles for text only divider for key concepts*/
    display: grid;
    grid-template-columns: 20% 80%;
    place-items: normal;
}
div.grid_div {
    /*creates styles for side by side*/
    display: grid;
    grid-template-columns: 33% 67%;
    place-items: center;
}
div.grid_contents {
    /*creates styles for items in grid*/
    padding: 1em;
}
div.grid_contents img {
    /*creates styles for images as items of grid*/
    max-width: 100%;
    height: auto;
}
div.grid_div_alt {
    /*creates styles for alternate side by side*/
    display: grid;
    grid-template-columns: 67% 33%;
    place-items: center;
}
img.main {
    /*creates styles for main image*/
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a.title {
    /*creates styles for dynamic home link title*/
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
a.title:link, a.title:visited {
    /*creates styles for dynamic home link title as link*/
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
a.subtitle:link, a.subtitle:visited {
    /*creates styles for dynamic home link subtitle as link*/
    display: block;
    font-size: .83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding-top: 0.25em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
li.concepts {
    /*creates styles for key concept spacing*/
    padding-bottom: 1em;
}

#quiz_space {
    /* create quiz space styling */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #aae8e8;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
}
#quiz_title {
    /* create quiz title styling */
    font-family: Verdana, sans-serif;
    text-align: center;
    color: black;
    margin-bottom: 5em;
}
#q_space {
    /* create question space styling */
    margin-bottom: 20px;
}
#a_space {
    /* create answer divider styling */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
}
#quiz_submit {
    /* create submit quiz button styling */
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #06274E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
#quiz_submit:hover {
    /* create submit button hover code */
    background-color: #324a78;
}
#quiz_choice {
    /* create quiz button style */
    display: block;
    background-color: #06274E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}
#quiz_choice:hover {
    /* create style for button while hovering */
    background-color: #324a78;
}
#selected_choice {
    /* create style for selected button */
    display: block;
    background-color: #a5b4e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
}
#submit_choice {
    /* create submit block style */
    display: block;
    text-align: center;
}
#extra-margin {
    /*create extra margin for footer on quiz */
    margin: 10px 0 10px 0;
}
.flex-grid {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
/*.flex-grid-child {
    flex: 1 1 auto;
    max-width: 600px;
}*/

@media screen and (min-width: 1200px) {
    .flex-grid-child {
        flex: 1 1 auto;
        max-width: 800px;
    }
}
@media screen and (max-width: 800px) {
    .flex-grid-child {
        flex: 1 1 auto;
        max-width: 300px;
    }
}
